<!-- Template simples de e-mail, arquivo com o nome email.ejs -->
<header style="background-color: #6584B4; color: #ffffff; padding: 10px; text-align: center;">
    <h3>Boa Noticia, meta da Carteira atingido</h3>
</header>
<article>
    <p>O limite de <%= meta %> pratos na sua carteira com o estabeleciemnto <%= nome %> foi atingido</p>
    <p>Favor entrar em contato com o mesmo através do contato <%= contato %> para agendar a retirada dos pratos.</p>
    <p>Não se esqueça de gerar o token na nossa plataforma para apresentar ao estabelecimento no ato da retirada </p>
    <p>A equipe CUCO está a disposição em caso de qualquer duvida.</p>
    <p></p>
    <p></p>
    <p style="font-size: 7pt;">
        Por favor não responda essa mensagem, ela foi enviada por endereço de e-mail não monitorado. 
        Ela esta relacionada ao seu uso da plataforma CUCO, 
        para mais informações entre em contato com a nossa equipe.
    </p>
</article>
<footer style="background-color: #6584B4; color: #ffffff; padding: 10px; text-align: center;">
    <p style="font-size: 30 pt;"> <strong>CUCO</strong></p>
    <p style="font-size: 10 pt;">Compre Um Conceda Outro </p>
</footer>

